In [48]:
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain.chat_models import init_chat_model
from langgraph.prebuilt import create_react_agent
from langchain.schema.messages import SystemMessage

# 1. Connect to DB
db = SQLDatabase.from_uri("sqlite:///data/northwind.db")  # Cleaned path

# 2. Initialize LLM
llm = init_chat_model("gpt-4o-mini", model_provider="openai")

# 3. Create toolkit and tools
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()

# 4. Format prompt as SystemMessage
prompt_template = "You are an expert SQL agent. Use dialect: {dialect}. Return top {top_k} results."
system_message = SystemMessage(content=prompt_template.format(dialect="SQLite", top_k=5))

# 5. Create the agent
sql_agent = create_react_agent(model=llm, tools=tools, prompt=system_message)

# 6. Define query
query = "Identify the ten most expensive products (ProductName, UnitPrice)"

# 7. Stream the results
for event in sql_agent.stream(
    {"messages": [{"role": "user", "content": query}]},
    stream_mode="values"
):
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Identify the ten most expensive products (ProductName, UnitPrice)
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_OYzzlYWIgZejboitMMmM8tko)
 Call ID: call_OYzzlYWIgZejboitMMmM8tko
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Categories, CustomerCustomerDemo, CustomerDemographics, Customers, EmployeeTerritories, Employees, Order Details, Orders, Products, Regions, Shippers, Suppliers, Territories
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_uzsJ88zaSr1ByOi1tCdlx2qD)
 Call ID: call_uzsJ88zaSr1ByOi1tCdlx2qD
  Args:
    table_names: Products
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Products" (
	"ProductID" INTEGER NOT NULL,
	"ProductName" TEXT NOT NULL,
	"SupplierID" INTEGER,
	"CategoryID" INTEGER,
	"QuantityPerUnit" TEXT,
	"UnitPrice" NUMERIC DEFAULT 0,
	"UnitsInStock" INTEGER DEFAULT 0,
	"UnitsOnOrder" INTEGER DEFAULT 0,
	"ReorderLevel" INTEGER DEFAULT 0,
	"Discontinued" TEXT DEFAULT '0' NOT NULL,
	PRIMARY KEY ("ProductID"),
	FOREIGN KEY("SupplierID") REFERENCES "Suppliers" ("SupplierID"),
	FOREIGN KEY("CategoryID") REFERENCES "Categories" ("CategoryID"),
	CHECK ([UnitPrice]>=(0)),
	CHECK ([ReorderLevel]>=(0)),
	CHECK ([UnitsInStock]>=(0)),
	CHECK ([UnitsOnOrder]>=(0))
)

/*
3 rows from Products table:
ProductID	ProductName	SupplierID	CategoryID	QuantityPerUnit	UnitPrice	UnitsInStock	UnitsOnOrder	ReorderLevel	Discontinued
1	Chai	1	1	10 boxes x 20 bags	18.0000000000	39	0	10	0
2	Chang	1	1	24 - 12 oz bottles	19.0000000000	17	40	25	0
3	Aniseed Syrup	1	2	12 - 550 ml bottles	10.0000000000	13	70	25	0
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_54LI7QRs6aCnq2LiVeIZpDZ4)
 Call ID: call_54LI7QRs6aCnq2LiVeIZpDZ4
  Args:
    query: SELECT ProductName, UnitPrice FROM Products ORDER BY UnitPrice DESC LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT ProductName, UnitPrice FROM Products ORDER BY UnitPrice DESC LIMIT 10;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_tOVPUASF71jepWV8wCEhRDQQ)
 Call ID: call_tOVPUASF71jepWV8wCEhRDQQ
  Args:
    query: SELECT ProductName, UnitPrice FROM Products ORDER BY UnitPrice DESC LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[('Côte de Blaye', 263.5), ('Thüringer Rostbratwurst', 123.79), ('Mishi Kobe Niku', 97), ("Sir Rodney's Marmalade", 81), ('Carnarvon Tigers', 62.5), ('Raclette Courdavault', 55), ('Manjimup Dried Apples', 53), ('Tarte au sucre', 49.3), ('Ipoh Coffee', 46), ('Rössle Sauerkraut', 45.6)]
================================== Ai Message ==================================

Here are the ten most expensive products along with their prices:

1. **Product Name:** Côte de Blaye - **Unit Price:** 263.50
2. **Product Name:** Thüringer Rostbratwurst - **Unit Price:** 123.79
3. **Product Name:** Mishi Kobe Niku - **Unit Price:** 97.00
4. **Product Name:** Sir Rodney's Marmalade - **Unit Price:** 81.00
5. **Product Name:** Carnarvon Tigers - **Unit Price:** 62.50
6. **Product Name:** Raclette Courdavault - **Unit Price:** 55.00
7. **Product Name:** Manjimup Dried Apples - **Unit Price:** 53.00
8. **Product Name:** Tarte au sucre - **Unit Price:** 49.30
9. **Product Name:** Ipoh Coffee - **Unit Price:** 46.00
10. **Product Name:** Rössle Sauerkraut - **Unit Price:** 45.60